@import "@fontsource/montserrat";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 608px;
  height: 100vh;

  margin-inline: auto;
}

h1 {
  margin-top: 32px;
  margin-bottom: 52px;

  color: #333333;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

footer {
  padding-bottom: 24px;
  margin-top: auto;

  color: #a9a9a9;
  text-align: center;
}
